<div style="display: flex">
  <div style="height: 100vh; width: 38%">
    <img
      style="margin-top: 50%; margin-left: 20%; border-radius: 50%"
      src="b7aca875-1a27-4038-898c-b53eadf170a0.jpg"
      height="50px"
    />
    <a href="#" style="color: black; text-decoration: none">Anish</a>
    <h1 style="margin-left: 20%">Portfolio Website</h1>
    <button
      style="
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 20%;
      "
      
    >
      Open in Figma
    </button>
  </div>

  <div style="height: 100vh; width: 62%">
    <img
      src="63399c606134e1e95e0b6392c98c35317339f06e.png"
      alt="img"
      width="90%"
      style="margin-top: 15%"
    />
  </div>
</div>

<u><b style="margin-left: 2vw">About </b></u>
<b style="margin-left: 2vw">Comments <small>0</small></b
><br />
<hr />
<div style="margin-left: 2vw; display: flex">
  <div style="width: 75%">
    <b
      >Thank you for being here! ✨💖<br /><br />

      A "Personal Portfolio Website" designed in Figma.
    </b>
    <br /><br /><br />
    <li>
      Feel free to <b>duplicate</b> and <b>improve</b>, give your
      <b>feedbacks</b> or <b>suggestions</b> by tagging me on
      <a href="#" style="color: #007bff"><b>Twitter</b></a
      >.
    </li>
    <br /><br />

    <b>Preview</b>

    <div style="height: 80vh ; display:flex" >
      <img src="63399c606134e1e95e0b6392c98c35317339f06e.png" height="300vh" width="450vw" style="margin-top: 10%;">
      <img src="download.png" height="300vh" width="450vw" style="margin-top: 10%;">
    </div>
    <hr />

    <br /><b>More by this Creator</b><br /><br /><br />

    <div style="display: flex">
      <div>
        <img
          src="c1caaab0-cd4c-47f3-859f-63fb2c43c029-cover.png"
          width="300vw"
          style="border: solid black 1px"
        />
        <p>Invitation Card Template</p>
      </div>

      <div style="margin-left: 20px">
        <img
          src="c96ef1f5-d9f6-432f-94a0-4adef37208be-cover.png"
          width="280vw"
          height="170vw"
          style="border: solid black 1px"
        />
        <p>Google Pay favourite payment Feature</p>
      </div>

      <div style="margin-left: 20px">
        <img
          src="e81cd882-f082-44b8-8cfb-b547ba81aeb7-cover.png"
          width="300vw"
          height="170vw"
          style="border: solid black 1px"
        />
        <p>Transport App Redesign</p>
      </div>
    </div>

    <hr />

    <div style="position: relative; width: 100%">
      <!-- Circle A -->
      <div
        style="
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
          background-color: orange;
          color: white;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          font-size: 14px;
        "
      >
        A
      </div>

      <input
        type="text"
        placeholder="Add a Comment"
        style="
          width: 100%;
          height: 40px;
          padding-left: 45px;
          padding-right: 60px;
          box-sizing: border-box;
        "
      />

      <button
        style="
          position: absolute;
          right: 5px;
          top: 5px;
          height: 30px;
          padding: 0 15px;
          background-color: lightgray;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        "
      >
        Post
      </button>
    </div>

    <br /><br />
    <small> 0 comments </small>
  </div>

  <div style="width: 25%">
    <div style="margin: 15%">
      This is a Figma Community file. Community is a space for Figma users to
      share things they create. Get started with a free account →
    </div>
    <div style="margin: 12%">
      <b>Tags </b><br /><br />
      <p>#assets #asdf #design</p>
      <p>#landing page #light #minimal</p>
      <p>#modern #personal #portfolio</p>
      <p>#ui #webpage #website</p>

      <hr />
      <br /><br /><b>Share</b><br /><br />
      <img
        src="7b077939dcda060902df44d3700b6d56.jpg"
        height="30px"
        style="background-color: black; border: solid black 1px"
      />
      <img
        src="x-corporation-by-elon-musk-company-logo-2REXC1E.jpg"
        height="30px"
        style="border: solid black 1px; margin-left: 10px"
      />
      <img
        src="84685ba9637a951591040426a46da70f.jpg"
        height="30px"
        style="border: solid black 1px; margin-left: 10px"
      />
      <hr />
      <br /><br />
      <img src="istockphoto-489078656-612x612.jpg" height="30px" /> For Figma
      <hr />
      <br /><br />

      <p>Last updated 3 years ago</p>
      Licensed under CC BY 4.0

      <p></p>
    </div>
  </div>
</div>

<hr>

<br><br>

<div style="display: flex; gap: 40px; margin-left: 2vw;">

    <div>
      <a href="#"><b>Explore</b></a><br><br>
      <a href="#">Social media templates</a><br><br>
      <a href="#">Web ad templates</a><br><br>
      <a href="#">Instagram templates</a><br><br>
      <a href="#">LinkedIn templates</a><br><br>
      <a href="#">Facebook templates</a><br><br>
      <a href="#">YouTube templates</a><br><br>
      <a href="#">Card templates</a><br><br>
    </div>
  
    <div style="margin-left: 100px;">
      <a href="#"><b>Popular searches</b></a><br><br>
      <a href="#">Portfolio templates</a><br><br>
      <a href="#">Resume templates</a><br><br>
      <a href="#">Website templates</a><br><br>
      <a href="#">Mobile app templates</a><br><br>
      <a href="#">Presentations</a><br><br>
      <a href="#">Device mockups</a><br><br>
      <a href="#">Team meetings</a><br><br>
    </div>
  
    <div style="margin-left: 100px;">
      <a href="#"><b>Recommended</b></a><br><br>
      <a href="#">Calendar templates</a><br><br>
      <a href="#">Data templates</a><br><br>
      <a href="#">Accessibility tools</a><br><br>
      <a href="#">Fonts & typography</a><br><br>
      <a href="#">Design inspiration</a><br><br>
      <a href="#">Development plugins</a><br><br>
      <a href="#">Strategic planning</a><br><br>
    </div>
  
    <div style="margin-left: 100px;">
      <a href="#"><b>Top categories</b></a><br><br>
      <a href="#">Design tools</a><br><br>
      <a href="#">Libraries</a><br><br>
      <a href="#">Education</a><br><br>
      <a href="#">Whiteboarding</a><br><br>
      <a href="#">Visual assets</a><br><br>
      <a href="#">Illustrations</a><br><br>
    </div>
  
  </div>
  

<h1 style="margin-left: 2vw;">Figma</h1>
<div style="display: flex; margin-left: 2vw;">
    2025 Figma,inc.
    <li>Site Map</li>
    <li>Community Guidelines</li>
    <li>Terms and Conditions</li>
</div>

<button class="cookie-btn" title="Manage Cookies">
    <span></span>
    <span></span>
  </button>
