@if (formshow == false) {
  <nav>
    <div class="nav-links">
      <div class="nav-item">
        <a routerLink="/"><b>Community</b></a>
      </div>
  
      <div class="nav-item">
        <a routerLink="/about">Design Sources</a>
        <span class="arrow"></span>
        <div class="dropdown">
          <div
            style="margin: 20px; display: flex; flex-direction: column; gap: 20px"
          >
            <a
              href="#"
              style="
                position: relative;
                border: solid rgb(228, 212, 212) 1px;
                width: 270px;
                border-radius: 15px;
                padding-right: 50px;
                overflow: hidden;
              "
            >
              <small><b style="margin: 20px">Ui Kit 1</b></small>
              <small>
                <p style="margin-left: 20px">
                  Pre made essentials like buttons <br />
                  and toasts
                </p>
              </small>
  
              <div
                style="
                  position: absolute;
                  right: -25px;
                  top: 50%;
                  transform: translateY(-50%) skewY(-3deg);
                  height: 65px;
                  border-radius: 10% 0 0 0;
                  overflow: hidden;
                  margin-top: 10px;
                "
              >
                <img
                  src="5b648271-e26d-405c-b4fd-6ce514408408-cover.png"
                  style="width: 100%; height: 100%; object-fit: cover"
                />
              </div>
            </a>
  
            <a
              href="#"
              style="
                position: relative;
                border: solid rgb(228, 212, 212) 1px;
                width: 270px;
                border-radius: 15px;
                padding-right: 50px;
                overflow: hidden;
              "
            >
              <small><b style="margin: 20px">Wire Frames</b></small>
              <small>
                <p style="margin-left: 20px">
                  Explore Your Early ideas with lo <br />
                  -fi frames
                </p>
              </small>
  
              <div
                style="
                  position: absolute;
                  right: -25px;
                  top: 50%;
                  transform: translateY(-50%) skewY(-3deg);
                  height: 65px;
                  border-radius: 10% 0 0 0;
                  overflow: hidden;
                  margin-top: 10px;
                "
              >
                <img
                  src="813717d9-3b57-4b3c-9601-bb932507a097-cover.png"
                  style="width: 100%; height: 100%; object-fit: cover"
                />
              </div>
            </a>
          </div>
  
          <div
            style="
              margin-top: 20px;
              display: flex;
              flex-direction: column;
              gap: 20px;
            "
          >
            <a
              href="#"
              style="
                position: relative;
                border: solid rgb(228, 212, 212) 1px;
                width: 270px;
                border-radius: 15px;
                padding-right: 50px;
                overflow: hidden;
              "
            >
              <small
                ><b style="margin: 20px"
                  >Social Media
                  <span
                    style="
                      background-color: rgb(252, 52, 118);
                      color: white;
                      border-radius: 2px;
                      width: 5px;
                    "
                    >New</span
                  ></b
                ></small
              >
              <small>
                <p style="margin-left: 20px">
                  Create Content like a <br />
                  pro
                </p>
              </small>
  
              <div
                style="
                  position: absolute;
                  right: -25px;
                  top: 50%;
                  transform: translateY(-50%) skewY(-3deg);
                  height: 65px;
                  border-radius: 10% 0 0 0;
                  overflow: hidden;
                  margin-top: 10px;
                "
              >
                <img
                  src="b50d79e3-01ce-4c93-bc45-a785b7ff6945-cover.png"
                  style="width: 100%; height: 100%; object-fit: cover"
                />
              </div>
            </a>
  
            <a
              href="#"
              style="
                position: relative;
                border: solid rgb(228, 212, 212) 1px;
                width: 270px;
                border-radius: 15px;
                padding-right: 50px;
                overflow: hidden;
              "
            >
              <small
                ><b style="margin: 20px"
                  >Print
                  <span
                    style="
                      background-color: rgb(252, 52, 118);
                      color: white;
                      border-radius: 2px;
                      width: 5px;
                    "
                    >New</span
                  ></b
                ></small
              >
              <small>
                <p style="margin-left: 20px">
                  Weddings , invites and <br />
                  More
                </p>
              </small>
  
              <div
                style="
                  position: absolute;
                  right: -25px;
                  top: 50%;
                  transform: translateY(-50%) skewY(-3deg);
                  height: 65px;
                  border-radius: 10% 0 0 0;
                  overflow: hidden;
                  margin-top: 10px;
                "
              >
                <img
                  src="b50d79e3-01ce-4c93-bc45-a785b7ff6945-cover.png"
                  style="width: 100%; height: 100%; object-fit: cover"
                />
              </div>
            </a>
          </div>
  
          <div style="white-space: nowrap; margin: 20px">
            <a
              href="#"
              style="display: block; font-weight: bold; margin-bottom: 5px"
              >Design templates</a
            >
            <a href="#" style="display: block; margin-bottom: 5px"
              >Portfolio templates</a
            >
            <a href="#" style="display: block; margin-bottom: 5px">Mobile apps</a>
            <a href="#" style="display: block; margin-bottom: 5px"
              >Resume templates</a
            >
            <a href="#" style="display: block">Web adds</a>
          </div>
  
          <div style="white-space: nowrap; margin-top: 20px">
            <a
              href="#"
              style="display: block; font-weight: bold; margin-bottom: 5px"
              >Assets</a
            >
            <a href="#" style="display: block; margin-bottom: 5px">Icons</a>
            <a href="#" style="display: block; margin-bottom: 5px"
              >Illustrations</a
            >
            <a href="#" style="display: block; margin-bottom: 5px"
              >Shapes and Colors</a
            >
            <a href="#" style="display: block">Device mockups</a>
          </div>
        </div>
      </div>
  
  <!-- ---------------------------------------------------------------------------------------------- -->
  
      <div class="nav-item">
        <a routerLink="/services">Websites</a>
        <span class="arrow"></span>
        <div class="dropdown">
  
          <div
            style="margin: 20px;"
          >
            <a
              href="#"
              style="
                position: relative;
                border: solid rgb(228, 212, 212) 1px;
                width: 270px;
                border-radius: 15px;
                padding-right: 50px;
                overflow: hidden;
              "
            >
              <small><b style="margin: 20px">Wire Frames</b></small>
              <small>
                <p style="margin-left: 20px">
                  Explore Your Early ideas with lo <br />
                  -fi frames
                </p>
              </small>
  
              
                <img
                  src="f5da0510-fe79-416d-a251-fe9871c04b85-cover.png"
                  style=" height: 13vh; margin-left: 40px;"
                />
            </a>
          </div>  
          
          <div style="margin: 20px; display: flex; flex-direction: column; gap: 20px">
            <a href="#" style="position: relative; border: solid rgb(228, 212, 212) 1px;  width: 270px;  border-radius: 15px;  padding-right: 50px;  overflow: hidden;  "  >
              <small><b style="margin: 20px">Portfolio</b></small>
              <small>
                <p style="margin-left: 20px">
                  showcase your best work <br />
                  
                </p>
              </small>
  
              <div
                style="
                  position: absolute;
                  right: -25px;
                  top: 50%;
                  transform: translateY(-50%) skewY(-3deg);
                  height: 65px;
                  border-radius: 10% 0 0 0;
                  overflow: hidden;
                  margin-top: 10px;
                "
              >
                <img
                  src="bc371b46-7982-44da-a10a-d1e3d62fafde-cover.png"
                  style="width: 100%; height: 100%; object-fit: cover"
                />
              </div>
            </a>
  
            <a
              href="#"
              style="
                position: relative;
                border: solid rgb(228, 212, 212) 1px;
                width: 270px;
                border-radius: 15px;
                padding-right: 50px;
                overflow: hidden;
              "
            >
              <small><b style="margin: 20px">Business</b></small>
              <small>
                <p style="margin-left: 20px">
                  Promote your brand online <br />
                </p>
              </small>
  
              <div
                style="
                  position: absolute;
                  right: -25px;
                  top: 50%;
                  transform: translateY(-50%) skewY(-3deg);
                  height: 65px;
                  border-radius: 10% 0 0 0;
                  overflow: hidden;
                  margin-top: 10px;
                "
              >
                <img
                  src="9669afdaf495f60658f61401f9d05c5ee3c7f182.png"
                  style="width: 100%; height: 100%; object-fit: cover"
                />
              </div>
            </a>
          </div>
  
          <div style="white-space: nowrap; margin: 20px">
            <a
              href="#"
              style="display: block; font-weight: bold; margin-bottom: 5px"
              >More websites</a
            >
            <a href="#" style="display: block; margin-bottom: 5px"
              >blog</a
            >
            <a href="#" style="display: block; margin-bottom: 5px">Wedding</a>
            <a href="#" style="display: block; margin-bottom: 5px"
              >Photography</a
            >
            <a href="#" style="display: block">Interior Design</a>
          </div>
  
        </div>
      </div>
  
  
      <!-- ------------------------------------------------------------------------------------- -->
  
      <div class="nav-item">
        <a routerLink="/contact">Plugins</a>
        <span class="arrow"></span>
        <div class="dropdown">
          <div
            style="margin: 20px;"
          >
            <a
              href="#"
              style="
                position: relative;
                border: solid rgb(228, 212, 212) 1px;
                width: 270px;
                border-radius: 15px;
                padding-right: 50px;
                overflow: hidden;
              "
            >
              <small><b style="margin: 20px">Editing and effect</b></small>
              <small>
                <p style="margin-left: 20px">
                  Transform your color images and more
                </p>
              </small>
  
              
                <img
                  src="5c737368bdd000ee52eb78e6424e14baeded37fb.png"
                  style=" height: 13vh; margin-left: 40px;"
                />
            </a>
          </div> 
  
  
          <div style="margin: 20px; display: flex; flex-direction: column; gap: 20px">
            <a href="#" style="position: relative; border: solid rgb(228, 212, 212) 1px;  width: 270px;  border-radius: 15px;  padding-right: 50px;  overflow: hidden;  "  >
              <small><b style="margin: 20px">File organisation</b></small>
              <small>
                <p style="margin-left: 20px">
                  Get type A file and layer <br />
                  
                </p>
              </small>
  
              <div
                style="
                  position: absolute;
                  right: -25px;
                  top: 50%;
                  transform: translateY(-50%) skewY(-3deg);
                  height: 65px;
                  border-radius: 10% 0 0 0;
                  overflow: hidden;
                  margin-top: 10px;
                "
              >
                <img
                  src="ea10da5555080d6f61eceb6403aa7c1cef613347.png"
                  style="width: 100%; height: 100%; object-fit: cover"
                />
              </div>
            </a>
  
            <a
              href="#"
              style="
                position: relative;
                border: solid rgb(228, 212, 212) 1px;
                width: 270px;
                border-radius: 15px;
                padding-right: 50px;
                overflow: hidden;
              "
            >
              <small><b style="margin: 20px">Development</b></small>
              <small>
                <p style="margin-left: 20px">
                  Speed up your handoff process and implementation <br />
                </p>
              </small>
  
              <div
                style="
                  position: absolute;
                  right: -25px;
                  top: 50%;
                  transform: translateY(-50%) skewY(-3deg);
                  height: 65px;
                  border-radius: 10% 0 0 0;
                  overflow: hidden;
                  margin-top: 10px;
                "
              >
                <img
                  src="33deabb795dc9e08a039e2f0994d68dfb5770cbc.png"
                  style="width: 100%; height: 100%; object-fit: cover"
                />
              </div>
            </a>
          </div>
  
  
            <div
              style="margin: 20px;"
            >
              <a
                href="#"
                style="
                  position: relative;
                  border: solid rgb(228, 212, 212) 1px;
                  width: 270px;
                  border-radius: 15px;
                  padding-right: 50px;
                  overflow: hidden;
                "
              >
                <small><b style="margin: 20px">Widgets</b></small>
                <small>
                  <p style="margin-left: 20px">
                    Useful tools that run right in your files <br />
  
                  </p>
                </small>
    
                
                  <img
                    src="859671379f19079b85b3611c4934611a1c915174.png"
                    style=" height: 13vh; margin-left: 40px;"
                  />
              </a>
            </div> 
  
            <div style="white-space: nowrap; margin: 20px">
              <a
                href="#"
                style="display: block; font-weight: bold; margin-bottom: 5px"
                >More Plugins</a
              >
              <a href="#" style="display: block; margin-bottom: 5px"
                >Import Export</a
              >
              <a href="#" style="display: block; margin-bottom: 5px">Prototyping and Animation</a>
              <a href="#" style="display: block; margin-bottom: 5px"
                >Accessibility Tools</a
              >
              
            </div>
  
  
        </div>
      </div>
  
      <!-- ------------------------------------------------------------------------------------------- -->
  
      <div class="nav-item">
        <a routerLink="/contact">Whiteboarding</a>
        <span class="arrow"></span>
        <div class="dropdown">
          <div
            style="margin: 20px;"
          >
            <a
              href="#"
              style="
                position: relative;
                border: solid rgb(228, 212, 212) 1px;
                width: 270px;
                border-radius: 15px;
                padding-right: 50px;
                overflow: hidden;
              "
            >
              <small><b style="margin: 20px">Brainstorming</b></small>
              <small>
                <p style="margin-left: 20px">
                  Ideatate then pick your favourite
                </p>
              </small>
  
              
                <img
                  src="60a2ac68e6705460d12ac34906f51091a7873a9c.png"
                  style=" height: 13vh; margin-left: 40px;"
                />
            </a>
          </div> 
  
  
          <div style="margin: 20px; display: flex; flex-direction: column; gap: 20px">
            <a href="#" style="position: relative; border: solid rgb(228, 212, 212) 1px;  width: 270px;  border-radius: 15px;  padding-right: 50px;  overflow: hidden;  "  >
              <small><b style="margin: 20px">Diagraming</b></small>
              <small>
                <p style="margin-left: 20px">
                  Map out complex flows <br />
                  
                </p>
              </small>
  
              <div
                style="
                  position: absolute;
                  right: -25px;
                  top: 50%;
                  transform: translateY(-50%) skewY(-3deg);
                  height: 65px;
                  border-radius: 10% 0 0 0;
                  overflow: hidden;
                  margin-top: 10px;
                "
              >
                <img
                  src="881b987a3b8af1a1ee08a8316f7688e1bf34376c.png"
                  style="width: 100%; height: 100%; object-fit: cover"
                />
              </div>
            </a>
  
            <a
              href="#"
              style="
                position: relative;
                border: solid rgb(228, 212, 212) 1px;
                width: 270px;
                border-radius: 15px;
                padding-right: 50px;
                overflow: hidden;
              "
            >
              <small><b style="margin: 20px">Fun and games</b></small>
              <small>
                <p style="margin-left: 20px">
                 Take a break (or break the ice) <br />
                </p>
              </small>
  
              <div
                style="
                  position: absolute;
                  right: -25px;
                  top: 50%;
                  transform: translateY(-50%) skewY(-3deg);
                  height: 65px;
                  border-radius: 10% 0 0 0;
                  overflow: hidden;
                  margin-top: 10px;
                "
              >
                <img
                  src="7b72cc0729e30a7918fceeb4b4b3a86b4a900e18.png"
                  style="width: 100%; height: 100%; object-fit: cover"
                />
              </div>
            </a>
          </div>
  
  
            <div
              style="margin: 20px;"
            >
              <a
                href="#"
                style="
                  position: relative;
                  border: solid rgb(228, 212, 212) 1px;
                  width: 270px;
                  border-radius: 15px;
                  padding-right: 50px;
                  overflow: hidden;
                "
              >
                <small><b style="margin: 20px">Team meetings</b></small>
                <small>
                  <p style="margin-left: 20px">
                    Templates for everything from kickoffs to retros <br />
  
                  </p>
                </small>
    
                
                  <img
                    src="fcbfaf7de5395838863bf7d8dd3dc5805bb509d6.png"
                    style=" height: 13vh; margin-left: 40px;"
                  />
              </a>
            </div> 
  
            <div style="white-space: nowrap; margin: 20px">
              
              <a href="#" style="display: block; margin-bottom: 5px">More white boarding</a>
              <a href="#" style="display: block; margin-bottom: 5px"
                >Strategic planning</a
              >
              
            </div>
  
  
        </div>
      </div>
  
      <!-- ------------------------------------------------------------------------------------------------ -->
  
      <div class="nav-item">
        <a routerLink="/contact">Presentations</a>
        <span class="arrow"></span>
        <div class="dropdown">
          
  
          <div
            style="margin: 20px;"
          >
            <a
              href="#"
              style="
                position: relative;
                border: solid rgb(228, 212, 212) 1px;
                width: 270px;
                border-radius: 15px;
                padding-right: 50px;
                overflow: hidden;
              "
            >
              <small><b style="margin: 20px">Startup pitch</b></small>
              <small>
                <p style="margin-left: 20px">
                  Share the story behind your big idea
                </p>
              </small>
  
              
                <img
                  src="b88b1be49cdff971481ddb424741db908d32e124.png"
                  style=" height: 13vh; margin-left: 40px;"
                />
            </a>
          </div>
  
  
          <div
            style="margin: 20px;"
          >
            <a
              href="#"
              style="
                position: relative;
                border: solid rgb(228, 212, 212) 1px;
                width: 270px;
                border-radius: 15px;
                padding-right: 50px;
                overflow: hidden;
              "
            >
              <small><b style="margin: 20px">Product Roadmap</b></small>
              <small>
                <p style="margin-left: 20px">
                 Turn customers into believers by sharing your product vision
                </p>
              </small>
  
              
                <img
                  src="0386cedef8498e1adb43cd3d338558dba27e0961.png"
                  style=" height: 13vh; margin-left: 40px;"
                />
            </a>
          </div>
  
  
          <div
            style="margin: 20px;"
          >
            <a
              href="#"
              style="
                position: relative;
                border: solid rgb(228, 212, 212) 1px;
                width: 270px;
                border-radius: 15px;
                padding-right: 50px;
                overflow: hidden;
              "
            >
              <small><b style="margin: 20px">More presentations</b></small>
              <small>
                <p style="margin-left: 20px">
                  Mix and match with figma slide templates
                </p>
              </small>
  
              
                <img
                  src="f5da0510-fe79-416d-a251-fe9871c04b85-cover.png"
                  style=" height: 13vh; margin-left: 40px;"
                />
            </a>
          </div>
  
  
        </div>
      </div>
  
      <!-- ---------------------------------------------------------------------------------------- -->
  
      <input
        type="text"
        placeholder="Search"
        style="
          border-radius: 20px;
          height: 30px;
          width: 200px;
          border: solid 2px lightblue;
          margin-left: 150px;
          background-image: url('https://cdn-icons-png.flaticon.com/512/622/622669.png');
          background-size: 16px 16px;
          background-position: 10px center;
          background-repeat: no-repeat;
          padding-left: 35px;
        "
      />
  
      <button
        style="
          border: none;
          height: 20px;
          margin-top: 10px;
          background-color: white;
        "
        (click)="showform()"
      >
        Log in
      </button>
  
      <button
        style="
          margin-top: 5px;
          height: 30px;
          border: solid black 1px;
          border-radius: 5px;
          background-color: white;
        "
        (click)="showform()"
      >
        sign up
      </button>
    </div>
  </nav>
  <hr />
  <app-portfolio></app-portfolio>
}

@else {


  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login Form</title>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .login-container {
      background: #ffffff;
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      width: 350px;
      position: relative;
    }

    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      border: none;
      background: transparent;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }

    .google-btn {
      background-color: white;
      border: 1px solid #ccc;
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-weight: bold;
      cursor: pointer;
    }

    .google-btn img {
      width: 20px;
      height: 20px;
    }

    .divider {
      display: flex;
      align-items: center;
      text-align: center;
      margin: 20px 0;
    }

    .divider::before,
    .divider::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid #ccc;
    }

    .divider:not(:empty)::before {
      margin-right: 10px;
    }

    .divider:not(:empty)::after {
      margin-left: 10px;
    }

    .login-form input {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .login-button {
      background-color: black;
      color: white;
      width: 100%;
      padding: 10px;
      margin-top: 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
    }

    .extra-options {
      margin-top: 15px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .extra-options a {
      color: #0073e6;
      text-decoration: none;
    }

    .extra-options a:hover {
      text-decoration: underline;
    }

    .bottom-text {
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
    }

    .bottom-text a {
      color: #0073e6;
      text-decoration: none;
      font-weight: bold;
    }

    .bottom-text a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>

  <div class="login-container">
    <button class="close-btn" (click)="showform()">×</button>

    <button class="google-btn">
      <img src="https://cdn-icons-png.flaticon.com/512/2702/2702602.png" alt="Google Icon">
      Continue with Google
    </button>

    <div class="divider">or</div>

    <form class="login-form">
      <input type="email" placeholder="Email" required />
      <input type="password" placeholder="Password" required />
      <button class="login-button" type="submit">Log in</button>
    </form>

    <div class="extra-options">
      <a href="#">Use Single Sign-On</a>
      <a href="#">Forgot Password?</a>
    </div>

    <div class="bottom-text">
      No account? <a href="#">Create one</a>
    </div>
  </div>

</body>
</html>



}